apiVersion: v1
kind: Secret
metadata:
  name: telegram-secrets
  namespace: ns-telegram
type: Opaque
stringData:
  DB_USER: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  DB_PASSWORD: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  DB_NAME: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  TELEGRAM_BOT_TOKEN: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
  MCP_HTTP_TOKEN: ЗАПОЛНИТЬ_ПРИ_ДЕПЛОЕ
